<div class="grid">
  <h1 class="title">{{title}}</h1>
    {{#if updateMode}}
    <form
    action="/user/admin/update/suspect/{{suspect.id}}/complete"
    method="post"
    id="create-suspect"
  >
      <section id="personalData">
        <div class="input w-100">
          <label for="" id="name">Nome</label>
          <input
            value="{{suspect.name}}"
            class="w-100"
            type="text"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="input">
          <label for="" id="cpf">CPF</label>
          <input
          disabled
          value="{{suspect.cpf}}"
            type="text"
            id="cpf"
            name="cpf"
            minlength="11"
            maxlength="14"
            required
          />
        </div>
        <div class="input">
          <label for="" id="">Motivo</label>
          <input
            value="{{suspect.criminalMotivation}}"
            type="text"
            id="reason"
            name="criminalMotivation"
            required
          />
        </div>
        <div class="input">
          <label for="" id="">Nível</label>
          <input
            value="{{suspect.levelWanted}}"
            type="text"
            id="levelWanted"
            name="levelWanted"
            required
          />
        </div>
        <div class="input">
          <label for="" id="">Status</label>
          <select name="status" id="status">
            {{#if arrested}}
            <option selected value="Preso">Preso</option>
            <option value="Foragido">Foragido</option>
            {{else}}
            <option  value="Preso">Preso</option>
            <option selected value="Foragido">Foragido</option>
            {{/if}}
          </select>
        </div>
        <div class="input w-100">
          <label for="" id="reason">Descrição</label>
          <textarea
            class="w-100"
            name="description"
            id=""
            rows="20"
            required
          >{{suspect.description}}</textarea>
        </div>
        <div class="input w-100">
          <label for="">Foto</label>
          <input
            value="{{suspect.picture}}"
            class="w-100"
            type="text"
            name="picture"
            id="picture"
            placeholder="URL completa da foto."
            required
          />
        </div>
      </section>
      <button class="btn" type="submit">Atualizar</button>
    {{else}}
    <form
    action="/user/admin/create/suspect/complete"
    method="post"
    id="create-suspect"
  >
      <section id="personalData">
        <div class="input w-100">
          <label for="" id="name">Nome</label>
          <input
            
            class="w-100"
            type="text"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="input">
          <label for="" id="cpf">CPF</label>
          <input
          
            type="text"
            id="cpf"
            name="cpf"
            minlength="11"
            maxlength="14"
            required
          />
        </div>
        <div class="input">
          <label for="" id="reason">Motivo</label>
          <input
            
            type="text"
            id="reason"
            name="criminalMotivation"
            required
          />
        </div>
        <div class="input">
          <label for="" id="reason">Nível</label>
          <input
            
            type="text"
            id="levelWanted"
            name="levelWanted"
            required
          />
        </div>
        <div class="input">
          <label for="" id="reason">Status</label>
          <select name="status" id="">
            <option selected value="Preso">Preso</option>
            <option value="Foragido">Foragido</option>
          </select>
        </div>
        <div class="input w-100">
          <label for="" id="reason">Descrição</label>
          <textarea
            class="w-100"
            name="description"
            id=""
            rows="20"
            required
          ></textarea>
        </div>
        <div class="input w-100">
          <label for="">Foto</label>
          <input
            class="w-100"
            type="text"
            name="picture"
            id="picture"
            placeholder="URL completa da foto."
            required
          />
        </div>
      </section>
    <button class="btn" type="submit">Cadastrar</button>
    {{/if}}
  </form>
</div>
<script src="/js/script.js" defer></script>
<link rel="stylesheet" href="/styles/creation.css" />