<div class="grid">
  <nav class="navbar">
    <h1 class="title">{{title}}</h1>
    <div class="search">
      <input
        type="text"
        name="search"
        id="searchInput"
        placeholder="Consulta"
      />
      <i class="search-icon"></i>
    </div>
  </nav>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Motivo</th>
          <th>Nível</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each suspects}}
          <tr>
            <td>{{name}}</td>
            <td data-cpf="{{cpf}}">{{cpf}}</td>
            <td>{{criminalMotivation}}</td>
            <td>{{levelWanted}}</td>
            <td>{{status}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="actions">
    <ul>
      <li class="link"><a
          href="/user/admin/create/suspect"
          target="_blank"
        >Cadastrar</a></li>
      <li class="link"><a
          href="/user/admin/update/suspect"
          id="update-action"
          target="_blank"
        >Atualizar</a></li>
      <li class="link"><a
          href="/user/admin/delete/suspect"
          id="delete-action"
          target="_blank"
        >Inativar</a></li>
    </ul>
  </div>
</div>
<link rel="stylesheet" href="/styles/list.css" />
<script src="/js/actions.js"></script>